/* font family add */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
}

.header {
  /* max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px; */
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.tex_primary {
  color: #fd6e0a;
}

.btn_primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 15px 35px;
}

.section_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section_description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
main {
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  margin: 0px 200px;
}

.nav_title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content {
  max-width: 500px;
}

.banner .profilePic {
  width: 500px;
}

.banner_greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner_title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner_description {
  margin-bottom: 20px;
}

/* main section styles */

/* about section styles  */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 80px 0;
}
.about_info_container {
  display: flex;
  justify-content: space-around;
}

.about_info {
  text-align: center;
}

#what_i_do_description {
  padding: 30px 150px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills_container {
  display: flex;
  gap: 24px;
}
.skill_description {
  color: #757575;
}

.resume_column_title {
  color: #757575;
  font-size: 30px;
  font-weight: 700;
}

.resume_container {
  display: flex;
  gap: 50px;
}

.resume_item_institute,
.resume_item_description {
  color: #757575;
}

.resume_item_institute {
  margin-bottom: 20px;
  margin-top: 0px;
}

.resume_item_title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume_container hr {
  margin: 30px;
}

.download_cv {
  text-align: center;
  margin-top: 50px;
}
